@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/* colors : main 252bc1 , circle and skills e1e6ff , blob 6969ff*/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: #252bc1;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
}

.logo, .navbar a {
    padding: 0rem 0.6rem;
    margin: 0rem 0.6rem;
}

.logo {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}

.logo:visited {
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar a:hover {
    background-color: white;
    border-radius: 20rem;
    color: #252bc1;
    transition: 0.3s ease;
}

section {
    padding: 6.25rem 12.5rem;
    background-color: white;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(blob-scene-haikei.svg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.desc {
    display: flex;
    flex-direction: column;
}

img {
    width: 500px;
    height: 500px;
}

.desc h1 {
    font-size: 3rem;
    margin: 0.625rem 0rem;
    color: #252bc1;
}

.desc h3 {
    font-size: 1.5rem;
}

.desc #light {
    font-weight: 400;
}

#circle {
    background-color: #e1e6ff;
    border-radius: 50%;
    transform: translateY(0px);
    animation: float 5s ease infinite;
}

@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}

#contactbtn {
    background-color: #252bc1;
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    margin: 1.25rem 0rem;
    font-size: 1.1rem;
    transition: 0.6s ease;
}

#contactbtn:hover {
    transform: scale(1.1);
    background-color: #6969ff;
    transition: 0.6s ease;
}

.skills {
    width: 100%;
    background-color: #e1e6ff;
}

.skills h1,
.contact h1 {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    color: #252bc1;
    margin-bottom: 1.875rem;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 21rem;
    padding: 1.25rem;
    margin: 0.9375rem;
    box-shadow: 0 0 1px #5f5fff;
    border-radius: 1.875rem;
    transition: 0.5s ease;
}

.card:hover {
    box-shadow: 0 0 20.5px 0.5px #5f5fff;
    transform: scale(1.05);
    transition: 0.5s ease;
}

.info h3,
.info p {
    text-align: center;
    margin-top: 0.8125rem;
}

.icon {
    font-size: 7rem;
    height: 9rem;
}

.contact {
    width: 100%;
}

.socialContainer {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
}

.social {
    margin: 1.3rem;
    border-radius: 1.7rem;
    width: 23rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e1e6ff;
    font-size: 1.2rem;
}

.social .socialLogo {
    font-size: 2.4rem;
    position: relative;
    left: -0.12rem;
    text-align: center;
    background-color: #c1c1ff;
    border-radius: 50%;
    width: 3.7rem;
    height: 3.7rem;
}

.social .socialLink {
    font-weight: 500;
    margin: auto;
    padding: 1rem 0rem;
    font-size: 1.2rem;
}

.social .socialLink a {
    color: black;
    text-decoration: none;
}

.social .socialLink a:hover {
    color: black;
    text-decoration: underline;
}

.social .socialLink a:visited {
    color: black;
}

@media (max-width:1023px) {

    header {
        width: 100vw;
        z-index: 99;
        padding: 0rem;
    }

    .logo, .navbar a {
        padding: 0rem 0.5rem;
        margin: 0.3rem 0.3rem;
    }

    .logo {
        font-size: 0.8rem;
    }

    .navbar {
        margin-right: 1rem;
    }

    .navbar a {
        font-size: 0.5rem;
    }

    section {
        padding: 1.25rem;
    }

    .main {
        min-height: 33vh;
    }

    .desc {
        padding-top: 5.625rem;
    }

    img {
        width: 180px;
        height: 180px;
    }
    
    .desc h1 {
        font-size: 1.1rem;
    }

    .desc h3 {
        font-size: 0.8rem;
    }
    
    #contactbtn {
        font-size: 0.5rem;
        padding: 0.3rem 0.7rem;
    }

    .skills h1,
    .contact h1 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .cardsContainer {
        flex-direction: column;
    }

    .card {
        width: 16rem;
        padding: 1.25rem;
        margin: 0.9375rem;
    }

    .info h3,
    .info p {
        font-size: 1rem;
        text-align: center;
        margin-top: 0.8125rem;
    }

    .info p {
        font-size: 0.7rem;
    }
    
    .icon {
        font-size: 5rem;
        height: 6rem;
    }

    .socialContainer {
        grid-template-columns: auto;
    }
    
    .social {
        margin: 1rem;
        width: 13rem;
        font-size: 1.1rem;
    }

    .social .socialLogo {
        font-size: 1.5rem;
        position: relative;
        left: -0.12rem;
        text-align: center;
        background-color: #c1c1ff;
        border-radius: 50%;
        width: 2.3rem;
        height: 2.3rem;
    }

    .social .socialLink {
        font-weight: 500;
        margin: auto;
        padding: 1rem 0rem;
        font-size: 0.65rem;
        overflow: hidden;
    }
}