@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/* colors : main 252bc1 , circle and skills eaedff , blob 6969ff*/

/* CSS Variables */
:root {
    --mainColor : #252bc1;
    --secondColor : #eaedff;
    --blobColor : #6969ff;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ////////////////////////////// Navbar Styling ////////////////////////////// */
/* Navbar Color */
body .bg-body-tertiary { background-color: var(--mainColor) !important; }

body .navbar {
    --bs-navbar-nav-link-padding-x: 1rem;       /* Padding of Navbar Items */
    --bs-navbar-padding-y: 0.25rem;             /* Padding of Navbar Itself */
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgb%28255, 255, 255%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e);
    --bs-navbar-toggler-focus-width: 0rem;      /* Border When Click on Menu */
}

/* Navbar Brand "Logo" */
.navbar .navbar-brand { color: white; }
.navbar .navbar-brand:hover { color: white; }

/* Navbar Items */
.navbar .nav-link { color: white; border-radius: 20rem; transition: 0.3s ease; width: fit-content; }
.navbar .nav-link:focus { color: white; }
.navbar .nav-link:hover { color: var(--mainColor); background-color: white; transition: 0.3s ease; }
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white !important;
}

/* Menu Button */
.navbar .navbar-toggler { border-color: transparent; transition: 0.3s ease-in-out; padding: 0.2rem 0.2rem; }
.navbar .navbar-toggler:focus {
    background-color: white;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgb%2837, 43, 193%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e);
}

/* ////////////////////////////// About Section Styling ////////////////////////////// */
/* About Section */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../public/blob-scene-haikei.svg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    min-height: 100vh;
}

/* Brief Description */
.about .desc { display: flex; flex-direction: column; }

/* Title */
.about .desc h1 {
    color: var(--mainColor);
    margin: 0.625rem 0rem;
    font-size: 3rem;
}

/* Sub Titles */
.about .desc h3 { font-size: 1.5rem; }

/* Circle Shape */
.about #circle {
    background-color: var(--secondColor);
    border-radius: 50%;
    transform: translateY(0px);
    animation: float 5s ease infinite;
}

/* Floating Animation */
@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-40px);}
    100% {transform: translateY(0px);}
}

/* Image in the Circle */
.about #circle img { width: 500px; height: 500px; }

/* Contact Me Button */
.about .btn-primary {
    color: white;
    background-color: var(--mainColor);
    text-decoration: none;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    margin: 1.25rem 0rem;
    transition: 0.6s ease-in-out;
}
.about .btn-primary:hover { background-color: var(--blobColor); border-color: var(--blobColor); }

/* ////////////////////////////// Skills Section Styling ////////////////////////////// */
/* Skills Section */
.skills { background-color: var(--secondColor); padding: 6.25rem 12.5rem;}

/* All Sections Headings */
.skills h1, .projects h1, .contact h1 { color: var(--mainColor); font-size: 2.2rem; }

/* Skills Slider */
.SkillsSplide {
    max-width: 100%;
    padding-bottom: 1.5rem;
    left: 1.7rem;
}

/* Cards in the Slider */
.SkillsSplide .card {
    width: 18rem;
    box-shadow: 0 0 1px #5f5fff;
    transition: 0.5s ease;
    border-radius: 1rem;
    --bs-card-height: 17rem;
}
.SkillsSplide .card:hover {
    box-shadow: 0 0 15px 0.5px #5f5fff;
    transform: scale(1.02);
    transition: 0.5s ease;
}

/* Skill Icons */
.SkillsSplide .card #skillpic { font-size: 5rem; }

/* Left Arrow of the Slider */
.splide__arrow--prev { left: -3rem; }

/* Right Arrow of the Slider */
.splide__arrow--next { right: -1rem; }

/* Slider Pages "Dots" */
.splide__pagination { right: 2.2rem; bottom: 0rem; }
.splide__pagination__page.is-active { background: var(--mainColor); }

/* ////////////////////////////// Contact Section Styling ////////////////////////////// */
/* Contact Section */
.contact { padding: 6.25rem 12.5rem; }

/* Container of the Rows */
.contact .contactContainer { padding-left: 1rem; }

/* Social Cards */
.social { border-radius: 1.7rem; background-color: var(--secondColor); }

/* Social Logo */
.socialLogo { position: relative; left: -1rem; background-color: #c1c1ff; border-radius: 50%; width: 3.7rem; height: 3.7rem; }

/* Social Link */
.socialLink { font-size: 1.2rem; }

/* Links in Social Link */
.socialLink a { color: black; text-decoration: none; }
.socialLink a:hover { color: black; text-decoration: underline; }
.socialLink a:visited { color: black; }

/* ////////////////////////////// Phone Styling ////////////////////////////// */

@media (max-width:1023px) {

    .navbar .nav-link { border-radius: 0; }
    .navbar .nav-link:hover {
        color: white;
        background-color: transparent;
        border-radius: 0rem;
        border-bottom: var(--bs-border-width) solid white;
        transition: 0.3s ease-in-out;
    }

    .about { min-height: 33vh; padding: 1.5rem; }
    .about .desc { padding-top: 5.625rem; }
    .about #circle img { width: 180px; height: 180px; }
    .about .desc h1 { font-size: 1.1rem; }
    .about .desc h3 { font-size: 0.8rem; }
    .about .btn-primary { font-size: 0.5rem; padding: 0.3rem 0.7rem; border: 0px solid var(--mainColor); }

    .skills { padding: 1.25rem; }
    .skills h1, .projects h1, .contact h1 { font-size: 1.2rem; margin-bottom: 0.5rem !important; }
    .SkillsSplide { left: 0.3rem; }
    .SkillsSplide .card {
        width: 10rem;
        padding: 0.75rem;
        margin: 0.2rem;
        box-shadow: 0 0 1px #5f5fff;
        transition: 0.5s ease-in-out;
        --bs-card-height: 10rem;
        --bs-card-spacer-y: 0.5rem;
        --bs-card-spacer-x: 0.3rem;
    }
    .SkillsSplide .card #skillpic { font-size: 2rem; }

    /* Skill Title */
    .SkillsSplide .card .cardTitle { font-size: 1rem; }

    /* Skill Description */
    .SkillsSplide .card .cardText { font-size: 0.6rem; }

    .SkillsSplide .splide__arrow--prev { left: -1rem; width: 1rem; height: 1rem; }
    .SkillsSplide .splide__arrow--next { right: -0.5rem; width: 1rem; height: 1rem; }
    .SkillsSplide .splide__pagination__page { width: 5px; height: 5px; left: 1rem; }
    .SkillsSplide .splide__pagination__page.is-active { background: var(--mainColor); }
    
    .contact { padding: 1.25rem; }
    .contact .contactContainer { margin-left: -1.5rem; }
    .social { margin: 1rem; width: 13rem; }
    .socialLogo { width: 2.3rem; height: 2.3rem; font-size: 1rem !important;}
    .socialLink { padding: 0.7rem 0rem; font-size: 0.65rem; overflow: hidden; }
}