@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/* colors : main 252bc1 , circle and skills eaedff , blob 6969ff*/

/* CSS Variables */
:root {
    --MainColor : #252bc1;
    --SecondColor : #eaedff;
    --BlobColor : #6969ff;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ////////////////////////////// General Styling ////////////////////////////// */

/* All sections */
.section {padding: 6.25rem 12.5rem;}

/* All Sections Headings */
.sectionHeader { color: var(--MainColor); font-size: 2.2rem; }

/* Primary Button */
div .primbtn {
    color: white;
    background-color: var(--MainColor);
    border: 0px solid var(--MainColor);
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    margin: 1.25rem 0rem;
    text-decoration: none;
}
div .primbtn:hover { background-color: #353cff; border-color: #353cff; }

/* ////////////////////////////// Header Section Styling ////////////////////////////// */
body .navbar {
    /* Padding of Navbar Items */
    --bs-navbar-nav-link-padding-x: 1rem;
    /* Padding of Navbar Itself */
    --bs-navbar-padding-y: 0.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgb%28255, 255, 255%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e);
    /* Border When Click on Menu */
    --bs-navbar-toggler-focus-width: 0rem;
}

/* Navbar Items */
.navbar .nav-link {
    color: white;
    border-radius: 20rem;
    transition: 0.3s ease;
    width: fit-content;
}
.navbar .nav-link:focus { color: white; }
.navbar .nav-link:hover {
    color: var(--MainColor);
    background-color: white;
    transition: 0.3s ease;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show { color: white !important; }
.navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.show:hover { color: var(--MainColor) !important; }

/* Menu Button */
.navbar .navbar-toggler {
    border-color: transparent;
    transition: 0.3s ease-in-out;
    padding: 0.2rem 0.2rem;
}
.navbar .navbar-toggler:focus {
    background-color: white;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgb%2837, 43, 193%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e);
}

/* ////////////////////////////// About Section Styling ////////////////////////////// */
/* About Section */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../public/blob-scene-haikei.svg);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    min-height: 100vh;
}

/* Floating Animation */
@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-40px);}
    100% {transform: translateY(0px);}
}

/* ////////////////////////////// Areas Section Styling ////////////////////////////// */

/* Cards in the Slider */
.AreasSplide .card {
    width: 18rem;
    box-shadow: 0 0 1px #5f5fff;
    transition: 0.5s ease;
    border-radius: 1rem;
    --bs-card-height: 17rem;
}
.AreasSplide .card:hover, .SkillIconContainer:hover{
    box-shadow: 0 0 15px 0.5px #5f5fff;
    transform: scale(1.02);
    transition: 0.5s ease;
}

/* Left Arrow of the Slider */
.splide__arrow--prev { left: -3rem; }

/* Right Arrow of the Slider */
.splide__arrow--next { right: -1rem; }

/* Slider Pages "Dots" */
.splide__pagination { right: 2.2rem; bottom: 0rem; }
.splide__pagination__page.is-active { background: var(--MainColor); }

/* ////////////////////////////// Skills Section Styling ////////////////////////////// */
.SkillIconContainer {
    border-radius: 50%;
    background-color: var(--SecondColor);
    width: 7.5rem;
    height: 7.5rem;
    transition: 0.5s ease;
}

.SkillIcon { color: var(--MainColor); width: 4.5rem; height: 4.5rem; }

/* ////////////////////////////// Projects Section Styling ////////////////////////////// */
span.carousel-control-next-icon { background-image : url(../public/chevron-right-solid.svg) }
span.carousel-control-prev-icon { background-image : url(../public/chevron-left-solid.svg) }

.ProjectsCarousel { padding-left: 10rem; padding-right: 10rem; }

.ProjectsCarousel .ProjectDetails {
    bottom: 0rem;
    left: 0rem;
    border-radius: 0rem 0rem 5rem 5rem;
    background-color: rgb(0,0,0,0.3)
}

/* ////////////////////////////// Contact Section Styling ////////////////////////////// */

/* Container of the Rows */
.contact .contactContainer { padding-left: 1rem; }

/* Social Cards */
.social { border-radius: 1.7rem; background-color: var(--SecondColor); }

/* Social Logo */
.socialLogo { position: relative; left: -1rem; background-color: #c1c1ff; border-radius: 50%; width: 3.7rem; height: 3.7rem; }

/* Social Link */
.socialLink { font-size: 1.2rem; }

/* Links in Social Link */
.socialLink a { color: black; text-decoration: none; }
.socialLink a:hover { color: black; text-decoration: underline; }
.socialLink a:visited { color: black; }

/* ////////////////////////////// Phone Styling ////////////////////////////// */

@media (max-width:1023px) {
    
    .section { padding: 1.25rem; }
    .sectionHeader { font-size: 1.2rem; margin-bottom: 0.5rem !important; }
    p { font-size: 0.7rem; }
    div .primbtn { font-size: 0.5rem; padding: 0.3rem 0.7rem; }

    .navbar .navbar-brand { margin-right: auto !important; }
    .navbar .nav-link { border-radius: 0; }
    .navbar .nav-link:hover {
        color: white;
        background-color: transparent;
        border-radius: 0rem;
        border-bottom: var(--bs-border-width) solid white;
        transition: 0.3s ease-in-out;
    }
    .navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.show:hover { color: white !important; }

    .about { min-height: 33vh; padding: 1.5rem; }
    .about .desc { padding-top: 5.625rem !important; }
    .about .desc h1 { font-size: 1.1rem !important; }
    .about .desc h3 { font-size: 0.8rem !important; }
    .about #codingPic { width: 180px; height: 180px;}

    .AreasSplide { left: 0.3rem !important; }
    .AreasSplide .card {
        width: 10rem;
        padding: 0.75rem;
        margin: 0.2rem;
        box-shadow: 0 0 1px #5f5fff;
        transition: 0.5s ease-in-out;
        --bs-card-height: 10rem;
        --bs-card-spacer-y: 0.5rem;
        --bs-card-spacer-x: 0.3rem;
    }

    .AreasSplide .card .card-img-top { width: 3rem !important }
    
    /* Area Title */
    .AreasSplide .card .cardTitle { font-size: 0.7rem; }

    /* Area Description */
    .AreasSplide .card .cardText { font-size: 0.5rem; width: 8rem !important; }

    .AreasSplide .splide__arrow--prev { left: -1rem; width: 1rem; height: 1rem; }
    .AreasSplide .splide__arrow--next { right: -0.5rem; width: 1rem; height: 1rem; }
    .AreasSplide .splide__pagination__page { width: 5px; height: 5px; left: 1rem; }
    .AreasSplide .splide__pagination__page.is-active { background: var(--MainColor); }

    .SkillIconContainer { width: 5rem; height: 5rem; }
    .SkillIcon { width: 2.5rem; height: 2.5rem; padding: 1rem; margin: 1rem; }

    .ProjectsCarousel { padding: 0; width: fit-content; }
    .ProjectsCarousel h3 { font-size: 0.8rem; max-width: fit-content; }
    .ProjectsCarousel p { font-size: 0.5rem; max-width: fit-content; }
    .ProjectsCarousel .ProjectDetails { padding: 0; height: 5rem; }
    .ProjectsCarousel .ProjectDetails .mycol { padding: 0.5rem 0rem 0rem 0rem; }
    .ProjectsCarousel .ProjectDetails a { width: fit-content !important; }
    a.carousel-control-next { right: -3rem; top: 5rem; height: 0; }
    a.carousel-control-prev { left: -3rem; top: 5rem; height: 0; }
    .ProjectsCarousel .carousel-indicators { margin-bottom: 0rem;}
    .ProjectsCarousel .carousel-indicators button { width: 14px; height: 2px;}
    
    .section .contactContainer { margin-left: -1.5rem; }
    .social { margin: 1rem; width: 13rem; }
    .socialLogo { width: 2.3rem; height: 2.3rem; font-size: 1rem !important;}
    .socialLink { padding: 0.7rem 0rem; font-size: 0.65rem; overflow: hidden; }
}